# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Dependency directories
pnp/
.pnp/
.pnp.js

# Optional npm cache directory
.npm

# TypeScript
*.tsbuildinfo

# Parcel
.cache/
dist/

# Next.js
.next/
out/

# Nuxt.js
.nuxt/
dist/

# Nest.js
/dist/
/tmp/

# Yarn
yarn.lock
.pnp.*.js
.pnp.js

# Keys & Certificates
*.key
*.pub
*.pem
*.p12
*.pfx
*.cer
*.crt

# WebGL
/Build-WebGL
/WebGL

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# ENV
.env